.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: darkblue;
}

.header h1 {
    font-size: large;
    font-weight: bold;
    color: white;
}

