.header {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: darkblue;
    align-items: center;
}

.header h1 {
    font-size: large;
    font-weight: bold;
    color: white;
}

.navigation {
    display: flex;
    gap: 1rem;
}

.navigation ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.navigation a {
    color: white;
    text-decoration: none;
}