.inputContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 40%;
}

.input {
    width: 100%;
    padding: 3px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
}